.container-loader{
    min-height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#loader{
    animation: spinner-line-fade-more;
    width: 60px; 
    height: 60px; 
    position: relative; 
    left: 15px; 
    top: 0; 
    margin-left:-30px; 
    background-image: url('http://especiales.lanacion.com.ar/multimedia/proyectos/LN_loader/ln.svg'); 
    background-repeat: no-repeat; 
    background-position: 50% 46.2%;
}
.spinner{
    position: relative; 
    margin-left: 29px; 
    margin-top: 29px; 
}

@keyframes spinner-line-fade-more {
    0%, 100% {
      opacity: 0; /* minimum opacity */
    }
    1% {
      opacity: 1;
    }
  }
  
  @keyframes spinner-line-fade-quick {
    0%, 39%, 100% {
      opacity: 0.25; /* minimum opacity */
    }
    40% {
      opacity: 1;
    }
  }
  
  @keyframes spinner-line-fade-default {
    0%, 100% {
      opacity: 0.22; /* minimum opacity */
    }
    1% {
      opacity: 1;
    }
  }
  
  @keyframes spinner-line-shrink {
    0%, 25%, 100% {
      /* minimum scale and opacity */
      transform: scale(0.5);
      opacity: 0.25;
    }
    26% {
      transform: scale(1);
      opacity: 1;
    }
  }